
.h1{
    display: inline;
    position: fixed; 
    width: 200px;
    height: 616px;
    float: left;
    margin-top: 5px;
    border: 2px solid #ff0000;
    
}
.musica{
    width:200px ;
    height:90px ;
}
.musicaf{
    width:200px ;
    height:95px ;  
}
.musicafl{
    width:200px ;
    height:95px ;  
}
body{
    width: 95%;
    background-image: url(https://s1.1zoom.me/big3/86/360127-blackangel.jpg);
    height: 100vh;
    margin: 0;
    display: flex;
    width: 95%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

button {
    position:fixed;
    left: 40%;
    top: 50%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

.campanas{
    height: 100px;
    width: 100px;
    justify-content: right;
    float: right;
    display: flex;
    clear: right;
    position: fixed;
    left: 1100px;
    top: 200px;
}
.div1{
    background-image: url(https://duendecrispin.com/gif/xmas-minigifs/minigifs_11.gif);
    width: 100px;
    height: 85px;
    position: fixed;
    right: 15px;
}
.img1{
    max-width: 100%;
    height: auto;
}
.img2{
    position: fixed;
    left: 1027px;
    bottom: 220px;
    width: 70px;
    height: 70px;
}
.gato{
    width: 200px;
    height: 100px;
}
.gato2{
    width: 200px;
    height: 100px;
}
.felinavida{
    position: fixed;
    left: 40%;
}
.cuadrao{
    background-color: aliceblue;
    width: 80px;
    height: 50px;
    position: fixed;
    bottom: 1px;
}

/*hhshshshhshshshs*/
 
.santa {
    background: url(http://myskins.org/images/santas.gif) no-repeat right;
    background-size: 240px;
    background-position-y: 30px;
    padding-top: 0px;
    height: 145px;
    right: 0;
    text-align: right;
}
    
.arbol {
    background: url(http://myskins.org/images/ctree.png)bottom center;
    padding: 0;
    height: 145px;
    -moz-animation: bgscroll 370s infinite linear;
    -ms-animation: bgscroll 370s infinite linear;
    -o-animation: bgscroll 370s infinite linear;
    -webkit-animation: bgscroll 370s infinite linear;
    }
    
.topwrap1 {
    position: fixed;
    bottom: 45px;
    right: 50px;
    padding: 0;
    margin:0;
    height: 100px;
    width: 1600px;
    left: -10px;
    border-bottom: 0 solid #333;
    margin: auto auto;
    vertical-align: middle;
}
    
    
  
    /* ANIMATIONS */
    
    @-webkit-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @-moz-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @-ms-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @-o-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    .wrap{
      width: 95%;
      min-width: 1150px;
      max-width: 1200px;
      margin:0 auto;
      text-align:left
    }


